{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["ie >= 10"]
                }
            }
        ],
        "es2015",
        "stage-0"
    ],
    "plugins": [
        "dynamic-import-webpack",
        "transform-runtime"
    ]
}