{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "safari": "8",
                    "ie": "11"
                }
            }
        ]
    ],
    "plugins": [
        "dynamic-import-webpack"
    ]
}