.DS_Store
**/.DS_Store
node_modules
kevin/__pycache__/
kevin/.idea/
**/.vscode
kevin/logs/*
kevin/interpret/indexes/
kevin/interpret/indexes/*
**/articles_tf_idf.npz
dataset/today/*
analysis_assets/today/*