.DS_Store
**/.DS_Store
node_modules
**/__pycache__
/.vscode
/kevin/logs/*
/kevin/interpret/theyear/indexes/
/kevin/interpret/today/indexes/
/kevin/interpret/trumpsaid/indexes/
**/articles_tf_idf.npz
/dataset/today/
/analysis_assets/today/
/data_publish_ready/today/
/data_publish_ready/today/*