#banana-moon-about{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.bananaLogo{
    width: 167px;
    height: 14px;
    margin-bottom: 40px;
    background-image: url(../logo.png);
    background-size: cover;
}

#banana-moon-about .heroMain{
    display: flex;
    align-items: center;
}

#banana-moon-about .heroTitle{
    flex-shrink: 0;
}

#banana-moon-about .heroHead{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    color: #000;
    font-size: 2.9em;
}

#banana-moon-about .heroHead p:nth-child(1){
    margin-bottom: 5px;
}

@media all and (max-width: 1280px) {
    #banana-moon-about .heroHead{
        font-size: 2.1em;
    }
}


#banana-moon-aboutinfo{
    display: flex;
    flex-direction: column;
    color: #252525;
    font-size: 1.6em;
    padding-left: 10%;
    padding-right: 10%;
}

#banana-moon-aboutinfo .aboutinfo-guide{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#banana-moon-aboutinfo .aboutinfo-people{
    text-align: initial;
    margin-top: 40px;
    font-size: 0.7em;
}

#banana-moon-aboutinfo .aboutinfo-people > div{
    margin-bottom: 40px;
}

.aboutinfo-people .developer-profile{
    margin-top: 10px;
    font-size: 0.8em;
    line-height: 1.4em;
    list-style: inside;
}

.aboutinfo-people .developer-profile li{
    list-style: inside;
}

.aboutinfo-people .contribution-list, .aboutinfo-people .developer .desc{
    margin-top: 10px;
    font-size: 0.8em;
    line-height: 1.4em;
}

.aboutinfo-people .notice{
    font-size: 0.6em;
    line-height: 1.4em;
}

#banana-moon-contact{
    display: flex;
    flex-direction: column;
    color: #252525;
    font-size: 1.6em;
    padding-left: 10%;
    padding-right: 10%;
}

#banana-moon-contact .contact-guide{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#banana-moon-contact .contact-people{
    text-align: initial;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 0.6em;
}

#banana-moon-contact a{
    color: #505050;
}

#banana-moon-acknowledgement{
    display: flex;
    flex-direction: column;
    color: #252525;
    font-size: 1.6em;
    padding-left: 10%;
    padding-right: 10%;
}

#banana-moon-acknowledgement .acknowledgement-guide{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#banana-moon-acknowledgement .acknowledgement-list{
    text-align: initial;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 0.5em;
}

.acknowledgement-list .license{
    margin-bottom: 30px;
    line-height: 1.5em;
}

@media all and (max-width: 374px) and (max-height: 600px) {
    #banana-moon-about .heroHead{
        font-size: 1.9em;
    }

    #banana-moon-aboutinfo, #banana-moon-contact, #banana-moon-acknowledgement{
        font-size: 1.7em;
    }
}