{{#this}}
<div class="policygroup" banana-status="folded">
    <div class="policyinfo">
        <p class="policytitle"><strong>{{policyname}}</strong></p>
        <div class="policykeywords-action-fold">
            <p class="unfold">&#xf078;</p>
            <p class="fold">&#xf077;</p>
        </div>
    </div>
    <div class="keywords">
        {{#each keywords}}
        <p class="keyword"><strong class="bolder">{{this}}</strong></p>
        {{/each}}
    </div>
</div>
{{/this}}