.ea-all-hero{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ea-all-hero .hero1{
    font-size: 3em;
    font-weight: 800;
}

.ea-all-hero .hero2{
    font-size: 1.3em;
    word-wrap: break-word;
    text-align: center;
    margin: 30px auto;
}

.ea-all-list{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 0 30vh 0;
    margin-top: -10vh;
}

.ea-all-list > a{
    position: relative;
    margin: 0 20px 0 0;
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    width: 35vh;
    flex-shrink: 0;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.ea-all-list > a:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.ea-all-list .ea-all-contentitem{
    position: absolute;
    top: 50%;
    padding: 20px;
    transform: translateY(-50%);
}

.ea-all-list .ea-all-contentitem .title{
    font-size: 1.2em;
    font-weight: 600;
}

.ea-all-list .ea-all-contentitem .desc{
    margin-top: 20px;
}