.about-hero{
    padding: 27vh 200px 30px 60px;
    display: flex;
    align-items: center;
}

.about-hero .hero1{
    font-size: 2.2em;
    font-weight: 800;
}

.about-hero .hero2{
    color: #505050;
    font-size: 1.15em;
    word-wrap: break-word;
    margin-top: 14px;
}

.about-hero .hero2 .detail{
    font-size: 0.9em;
}

.about-hero .hero2.contact{
    color: #000;
    font-size: 1.0em;
    word-wrap: break-word;
    margin-top: 20px;
}

.about-hero .team{
    margin-bottom: 20px;
    font-weight: 600;
    display: flex;
}

.about-hero .team > a > div{
    width: 22px;
    height: 19px;
    background-image: url('../resources/symbol_twitter.png');
    background-size: cover;
    margin-left: 10px;
}

.about-hero .team > a > div.email{
    width: 19px;
    height: 20px;
    background-image: url('../resources/symbol_gmail.png');
    background-size: cover;
    margin-left: 10px;
}

.about-hero .team > a > div.fb{
    width: 20px;
    height: 20px;
    background-image: url('../resources/symbol_fb.png');
    background-size: cover;
    margin-left: 10px;
}

.about-hero .team > a > div.linkedin{
    width: 22px;
    height: 20px;
    background-image: url('../resources/symbol_linkedin.png');
    background-size: cover;
    margin-left: 10px;
}


@media all and (max-width: 980px) {
    .about-hero{
        padding: 27vh 30px 30px;
        margin: 0 auto;
        overflow: hidden;
        transition: all 200ms ease;
    }

    .about-hero.highlighted{
        max-height: 35vh;
        opacity: 0;
    }

    .about-hero .hero1{
        font-size: 1.3em;
    }

    .about-hero .hero1.strike:after {
        height: 3px;
    }

    .about-hero .hero2{
        font-size: 1.05em;
    }
}