@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

body.whattrumpsaid{
    height: 100%;
    overflow: hidden;
}

body.whattrumpsaid .top-navbox{
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    transition: all 200ms ease;
}

body.whattrumpsaid .top-navbox.scroll_hidden{
    opacity: 0;
}

.navbox-static.whattrumpsaid{
    justify-content: center;
}

.top-navbox.visible .navbox-static.whattrumpsaid {
    justify-content: flex-start;
}

.navbox-static.whattrumpsaid .navbox-logo{
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-image: url('../resources/section_default_white.png');
}

.top-navbox.visible .navbox-static.whattrumpsaid .navbox-logo{
    background-image: url('../resources/section_default.png');
}

.navbox-static.whattrumpsaid .navbox-currentpath{
    font-weight: 700;
    margin-right: 6px;
    font-size: 1.15em;
    width: auto;
    overflow: initial;
    color: #fff;
}

.navbox-static.whattrumpsaid .navbox-reveal > div{
    background-image: url('../resources/symbol_arrow_down_white.png');
}

.top-navbox.visible .navbox-static.whattrumpsaid .navbox-reveal > div{
    background-image: url('../resources/symbol_arrow_down.png');
}

.navbox-static.whattrumpsaid .navbox-reveal{
    display: none;
}

.top-navbox.visible .navbox-static.whattrumpsaid .navbox-reveal{
    display: flex;
}

.top-navbox.visible .navbox-static.whattrumpsaid .navbox-currentpath{
    color: #000;
}

body.whattrumpsaid .minion-timestamp{
    color: rgba(255, 255, 255, 0.4588235294117647);
    padding-top: 33px;
    font-size: 0.85em;
    transition: all 200ms ease;
}

body.whattrumpsaid .minion-timestamp.scroll_hidden{
    opacity: 0;
}

body.whattrumpsaid .minion-datapopup{
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    transition: all 200ms ease;
}

body.whattrumpsaid .minion-datapopup.visible{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: auto;
    height: 100%;
    background: #fff;
    z-index: 1;
}

body.whattrumpsaid .minion-datapopup.visible .datapopup-contents {
    padding: 15vh 30px;
}

body.whattrumpsaid .minion-datapopup .datapopup-close-action{
    display: none;
}

body.whattrumpsaid .minion-datapopup.visible .datapopup-close-action{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 17px;
    height: 15px;
    padding: 20px 20px 20px 30px;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    transform: translateZ(0);
}

body.whattrumpsaid .minion-datapopup .datapopup-close-action .icon{
    width: 17px;
    height: 15px;
    background-image: url('../resources/symbol_close.png');
    background-size: cover;
}

body.whattrumpsaid .minion-content-index{
    position: absolute;
    display: block;
    top: 0;
    margin: 26px 30px;
    transition: opacity 200ms ease;
}

body.whattrumpsaid .minion-content-index.scroll_hidden{
    opacity: 0;
}

body.whattrumpsaid .minion-content-index .contentindex-guide{
    display: flex;
    align-items: center;
    padding: 5px 9px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

body.whattrumpsaid .minion-content-index .content-indexes{
    display: none;
}

body.whattrumpsaid .minion-content-index.visible .content-indexes{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    justify-content: center;
    padding: 10px 5px;
    background: #fff;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
}

body.whattrumpsaid .minion-content-index.visible .content-indexes li{
    padding: 7px;
    display: flex;
    align-self: baseline;
}

body.whattrumpsaid .minion-content-index .contentindex-guide .contentindex-reveal{
    width: 15px;
    height: 9px;
    margin-left: 6px;
    background-image: url('../resources/symbol_arrow_down_white.png');
    background-size: cover;
}

/* data */
.presidenttrump-analysis-data{
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.presidenttrump-analysis-data.hidden{
    height: 0vh;
}

.presidenttrump-analysis-data-dynamicbg, .presidenttrump-analysis-data-dynamicbg > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item{
    position: absolute;
    z-index: -1;
    transition: opacity 160ms ease;
    opacity: 0; 
    height: 0;
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item.current{
    opacity: 1;
    height: auto;
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item .image{
    position: absolute;
    top: -5vh;
    left: -5vw;
    width: 110vw;
    height: 110vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transform: translateZ(0);
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item .graphic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="1701c03"] .graphic{
    justify-content: space-between;
    padding: 15vh 60px;
    width: calc(100vw - 120px);
    height: calc(100vh - 30vh);
    background: #000;
    color: #fff;
    display: flex;
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="1701c03"] .graphic-box{
    font-size: 2.3em;
    font-weight: 600;
    font-family: 'Fugaz One', cursive;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    line-height: 1.2em;
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="1701c03"] .graphic-box:nth-child(2){
    text-align: right;
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="1701c04"] .graphic{
    justify-content: space-between;
    padding: 15vh 60px;
    width: calc(100vw - 120px);
    height: calc(100vh - 30vh);
    background: #d63100;
    color: #fff;
    display: flex;
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="1701c04"] .graphic-box{
    font-size: 2.3em;
    font-weight: 600;
    font-family: 'Fugaz One', cursive;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    line-height: 1.2em;
    transform: rotate(-5deg);
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="1701c04"] .graphic-box:nth-child(2){
    margin-top: 60px;
    font-size: 5em;
    transform: rotate(25deg);
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="1701c05"] .graphic{
    justify-content: flex-end;
    padding: 15vh 60px;
    width: calc(100vw - 120px);
    height: calc(100vh - 30vh);
    background-size: cover;
    background-position: left;
    color: #fff;
    display: flex;
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="1701c05"] .graphic-box{
    font-size: 2em;
    font-weight: 600;
    font-family: 'Fugaz One', cursive;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    margin-top: 45px;
    transform: rotate(15deg);
    background: #c52d00;
    color: #6f0000;
    padding: 6px 13px;
    align-self: baseline;
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="eom"] .graphic{
    justify-content: space-between;
    padding: 15vh 30px;
    width: calc(100vw - 60px);
    height: calc(100vh - 30vh);
    background: #1f1f1f;
    color: #fff;
    display: flex;
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="eom"] .graphic-box{
    font-size: 3em;
    font-weight: 600;
    font-family: 'Fugaz One', cursive;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    margin-top: 35px;
    transform: rotate(-5deg);
    padding: 6px 60px;
    line-height: 1.3em;
    align-self: baseline;
}

.presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="eom"] .graphic-box{
    font-size: 3.5em;
    margin-top: 50px;
}

.analysis-hero{
    height: 100%;
    display: flex;
    padding: 0 60px;
    align-items: center;
    color: #fff;
}

.analysis-hero > div{
    margin-top: 30vh;
}

.analysis-hero .hero1{
    font-size: 3em;
    font-weight: 800;
}

.analysis-hero .hero2{
    font-size: 1.1em;
    word-wrap: break-word;
    margin: 30px auto;
}

.analysis-eom{
    height: 100vh;
    display: flex;
    padding: 0 60px;
    align-items: flex-end;
    justify-content: flex-end;
    color: #fff;
}

.analysis-eomtxt{
    padding: 50px 30px;
    text-align: right;
}

.analysis-eom .title-text{
    font-size: 3em;
    font-weight: 800;
}

.analysis-hero .analysis-herotpdetails{
    padding-top: 8px;
    padding-bottom: 8px;
    color: #f1f1f1;
}

.presidenttrump-analysis-data .analysis-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.presidenttrump-analysis-data .analysis-list .analysis-item{
    display: flex;
    justify-content: center;
    padding: 20vh 60px;
    flex-direction: column;
    color: #fff;
}

.presidenttrump-analysis-data .analysis-list .analysis-item[banana-id="1701c03"]{
    background: #000;
    padding: 5vh 60px;
    margin: 20vh 0 10vh 0;
}

.presidenttrump-analysis-data .analysis-list .analysis-item[banana-id="1701c04"]{
    background: #9c2400;
    padding: 5vh 60px;
    width: 80vw;
    margin: 30vh 0 10vh 0;
}

.presidenttrump-analysis-data .analysis-list .analysis-item[banana-id="1701c05"]{
    padding: 5vh 60px;
    width: 80vw;
    margin: 30vh 0 10vh 0;
}

.presidenttrump-analysis-data .analysis-item .title-text{
    font-size: 3em;
    font-weight: 600;
    align-self: baseline;
    display: flex;
    width: 80vw;
}

.presidenttrump-analysis-data .analysis-item .msg-text{
    margin-top: 10px;
    font-size: 1.7em;
    font-weight: 400;
    align-self: baseline;
    display: flex;
    width: 70vw;
}

.presidenttrump-analysis-data .analysis-item .item-pickedtweets{
    margin-top: 35px;
    display: flex;
}

.presidenttrump-analysis-data .analysis-item .item-pickedtweets .title-text {
    font-size: 1.1em;
    font-weight: 400;
    width: 17vw;
    height: 17vw;
    padding: 20px;
    background: rgba(0, 0, 0, 0.38);
    -webkit-backdrop-filter: blur(10px);
    margin-right: 15px;
}

.presidenttrump-analysis-data .analysis-item .item-revealtweets-action{
    margin-top: 17px;
    padding: 5px 0;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 600;
    font-size: 0.9em;
    text-transform: uppercase;
    transition: all 200ms ease;
    opacity: 0;
}

.presidenttrump-analysis-data .analysis-item.current .item-revealtweets-action{
    opacity: 1;
}

.presidenttrump-analysis-data .analysis-item .item-tweets{
    display: none;
}

body.whattrumpsaid .minion-datapopup .item-tweets{
    display: flex;
    flex-wrap: wrap;
}

body.whattrumpsaid .minion-datapopup .item-tweets .tweet-item{
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 75vw;
    font-size: 1.15em;
    margin-bottom: 10px;
    padding: 8px 0;
    flex-shrink: 0;
    color: #000;
}

body.whattrumpsaid .minion-datapopup .item-tweets .tweet-item .ts{
    font-size: 0.8em;
    font-weight: 400;
}


/* tp details */
.presidenttrump-tpdetails{
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    transition: all 200ms ease;
}

.presidenttrump-tpdetails.revealed{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: auto;
    padding: 120px 10%;
    height: calc(100vh - 240px);
    background: #fff;
    z-index: 1;
}

.presidenttrump-tpdetails .tpdetails-reveal > p{
    font-size: 1.2em;
    font-weight: 600;
}

.presidenttrump-tpdetails .tpdetails-text{
    margin-top: 15px;
}

.presidenttrump-tpdetails .tpdetails-text > p{
    margin-top: 6px;
}

.presidenttrump-tpdetails .datasets{
    border-top: 1px solid #e4e4e4;
    margin-top: 20px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.presidenttrump-tpdetails .datasets > a{
    display: flex;
}

.presidenttrump-tpdetails .datasets > a > p{
    text-transform: uppercase;
    background: #ec7100;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    font-weight: 600;
    margin-top: 8px;
    align-self: baseline;
}

.presidenttrump-tpdetails .tpdetails-close-action{
    display: none;
}

.presidenttrump-tpdetails.revealed .tpdetails-close-action{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 17px;
    height: 15px;
    padding: 20px 20px 20px 30px;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    transform: translateZ(0);
}

.presidenttrump-tpdetails .tpdetails-close-action .icon{
    width: 17px;
    height: 15px;
    background-image: url('../resources/symbol_close.png');
    background-size: cover;
}

@media all and (max-width: 980px) {
    .navbox-static.whattrumpsaid .navbox-currentpath{
        width: 0;
        overflow: hidden;
        margin-right: 0;
    }

    .top-navbox.visible .navbox-currentpath{
        font-weight: 700;
        margin-right: 6px;
        font-size: 1.25em;
        width: auto;
        overflow: initial;
    }

    body.whattrumpsaid .minion-timestamp{
        display: none;
    }

    body.whattrumpsaid .minion-content-index{
        margin-top: 30px;
    }

    body.whattrumpsaid .minion-content-index .contentindex-guide{
        width: 25px;
        height: 25px;
        padding: 0;
        justify-content: center;
        border-radius: 8px;
    }

    body.whattrumpsaid .minion-content-index .contentindex-guide > p{
        display: none;
    }

    body.whattrumpsaid .minion-content-index .contentindex-guide .contentindex-reveal{
        margin-left: 0;
    }

    .presidenttrump-analysis-data .analysis-hero{
        padding: 0 30px;
    }

    .presidenttrump-analysis-data .analysis-hero .hero1{
        font-size: 1.6em;
    }

    .presidenttrump-analysis-data .analysis-hero .hero2{
        font-size: 1em;
    }

    .presidenttrump-analysis-data .analysis-hero .presidenttrump-herotpdetails{
        font-size: 1em;
    }

    .presidenttrump-analysis-data .analysis-hero > div {
        margin-top: 40vh;
    }

    .presidenttrump-analysis-data .analysis-eom{
        padding: 0 30px;
    }

    .analysis-eom .title-text{
        font-size: 1.9em;
        font-weight: 800;
    }

    .presidenttrump-analysis-data .analysis-list .analysis-item{
        padding: 20vh 30px;
        transition: all 200ms ease;
    }

    .presidenttrump-analysis-data .analysis-item .title-text{
        font-size: 1.6em;
        width: auto;
    }

    .presidenttrump-analysis-data .analysis-item .msg-text{
        font-size: 1.2em;
        font-weight: 400;
    }

    .presidenttrump-analysis-data .analysis-item .item-pickedtweets{
        flex-direction: column;
    }

    .presidenttrump-analysis-data .analysis-item .item-pickedtweets .title-text{
        font-size: 0.95em;
        font-weight: 400;
        width: 70vw;
        height: auto;
        padding: 17px;
        background: rgba(0, 0, 0, 0.38);
        margin-right: 0;
        margin-bottom: 3px;
    }

    .presidenttrump-analysis-data .analysis-list .analysis-item[banana-id="1701c03"] {
        background: #000;
        padding: 5vh 30px 5vh 60px;
        margin: 20vh 0 10vh 0;
    }

    .presidenttrump-analysis-data .analysis-list .analysis-item[banana-id="1701c04"] {
        background: #9c2400;
        padding: 5vh 30px;
        width: 65vw;
        margin: 30vh 0 10vh 0;
    }

    .presidenttrump-analysis-data .analysis-list .analysis-item[banana-id="1701c05"] {
        padding: 5vh 30px;
    }

    .presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="1701c03"] .graphic{
        justify-content: space-between;
        padding: 18vh 60px;
        width: calc(100vw - 120px);
        height: calc(100vh - 36vh);
    }

    .presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="1701c03"] .graphic-box{
        font-size: 1.4em;
    }

    .presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="1701c04"] .graphic{
        justify-content: center;
    }

    .presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="1701c05"] .graphic{
        background-position: right;
    }

    .presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="eom"] .graphic-box{
       padding-left: 20px;
       margin-top: 0;
       font-size: 2.8em;
    }
}

@media all and (max-width: 340px) {
    .presidenttrump-analysis-data-dynamicbg .dynamicbg-item[banana-id="eom"] .graphic-box {
        font-size: 2.2em;
        margin-top: 0;
    }
}