
/* data */

.today-trumpsaid-timetravel{
    width: 100%;
    padding-top: 90px;
}

.today-trumpsaid-timetravel .head-trumpsaidtt-hero {
    margin: 0 45px;
    text-transform: uppercase;
    font-weight: 700;
}

.today-trumpsaid-timetravel .trumpsaidtt-item-container{
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trumpsaidtt-item-container .trumpsaid-tt-item{
    width: 100%;
    position: relative;
}

.trumpsaidtt-item-container .trumpsaid-tt-item .header-title{
    font-size: 1.8em;
    font-weight: 700;
    margin: 0 45px;
    width: 60%;
}

.trumpsaidtt-item-container .trumpsaid-tt-item .header-msg{
    margin: 4px 45px;
    width: 50%;
}

.trumpsaidtt-item-container .trumpsaid-tt-item .tt-tweets-container{
    margin: 30px 45px 5px;
    display: grid;
    grid-gap: 1.6vw;
    grid-row-gap: 1vw;
    grid-template-columns: 23% 17% 22% 33%;
    grid-template-areas: "first first second third" "fourth fifth fifth sixth" "seventh eighth nineth tenth" "eleventh twelveth thirdteenth fourteenth";
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item{
    display: flex;
    padding: 25px;
    margin-bottom: 1.6%;
    position: relative;
    flex-shrink: 0;
    background: #efefef;
    flex-direction: column;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(1){
    grid-area: first;
    justify-content: flex-start;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(2){
    grid-area: second;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(3){
    grid-area: third;
    justify-content: flex-end;
    text-align: right;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(4){
    grid-area: fourth;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(5){
    grid-area: fifth;
    text-align: center;
    justify-content: flex-end;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(6){
    grid-area: sixth;
    justify-content: flex-start;
    text-align: right;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(7){
    grid-area: seventh;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(8){
    grid-area: eighth;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(9){
    grid-area: nineth;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(10){
    grid-area: tenth;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(11){
    grid-area: eleventh;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(12){
    grid-area: twelveth;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(13){
    grid-area: thirdteenth;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item:nth-child(14){
    grid-area: fourteenth;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item .origin{
    font-size: 1.1em;
    font-weight: 700;
}

.trumpsaid-tt-item .tt-tweets-container .tt-tweet-item .ts{
    text-transform: uppercase;
    margin: 10px 0 0 0;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    font-size: 0.79em;
}

.trumpsaid-tt-item .header-imagecopyright {
    margin: 0 45px;
    font-size: 0.7em;
    color: #797979;
}