.today-share.social-likes {
    z-index: 9999901;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    padding: 4px 6px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.today-hero{
    padding: 13% 90px 5%;
    display: flex;
    align-items: center;
}

.today-hero .hero1{
    font-size: 2.5em;
    font-weight: 700;
}

.today-hero .hero2{
    color: #505050;
    font-size: 1.3em;
    word-wrap: break-word;
    margin-top: 5px;
    width: 50vw;
}

.today-hero .today-herotpdetails{
    font-size: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #929292;
}

/* data */
.today-analysis-data{
    display: flex;
}

.today-analysis-data.hidden{
    display: none;
}

.today-analysis-data .analysis-list{
    width: 100%;
    display: grid;
    grid-gap: 1.7em;
    grid-template-columns: repeat(auto-fill, minmax(200px,26vw));
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 60px;
    transform: translateZ(0);
}

.today-analysis-data .analysis-list .analysis-item{
    position: relative;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    height: 70vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 200ms ease;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    transform: translateZ(0);
}

.today-analysis-data .analysis-list .analysis-item .item-wrapper{
    top: 0;
    left: 0;
    margin: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 24px);
}

.today-analysis-data .analysis-list .analysis-item .item-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: baseline;
}

.today-analysis-data .analysis-list .analysis-item .item-image.exist {
    width: calc(100% + 50px);
    height: 25vh;
    margin: 15px -25px 5px;
    background-size: cover;
}

.today-analysis-data .analysis-list .analysis-item .item-theme{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 0;
}

.today-analysis-data .analysis-list .theme-header{
    position: relative;
    align-self: baseline;
    font-weight: 700;
    font-size: 1.5em;
    padding: 1px 3px;
    color: #000;
}

.today-analysis-data .analysis-list .analysis-item .themes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: baseline;
}

.today-analysis-data .analysis-list .analysis-item .item-peakinfo{
    position: relative;
    display: none;
    width: 28%;
    height: 5%;
}

.today-analysis-data .analysis-list .analysis-item .toparticle-content-container{
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.today-analysis-data .analysis-list .toparticle-object{
    position: relative;
    padding: 4px 0;
    margin-bottom: 12px;
    flex-shrink: 0;
    background-size: cover;
    cursor: pointer;
}

.today-analysis-data .analysis-list .toparticle-object .article-title{
    font-size: 0.95em;
    font-weight: 600;
}

.today-analysis-data .analysis-list .toparticle-object .article-origin{
    font-size: 0.7em;
    margin-top: 3px;
    color: #8a8a8a;
}

/* tp details */
.today-tpdetails{
    position: fixed;
    width: 80%;
    padding: 0 10%;
    height: 0;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0;
    background: #fff;
    overflow: hidden;
    transition: all 300ms ease;
}

.today-tpdetails.opened{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 80%;
    padding: 120px 10%;
    height: calc(100% - 240px);
    opacity: 1;
    z-index: 9999902;
}

.today-tpdetails .tpdetails-reveal > p{
    font-size: 1.2em;
    font-weight: 600;
}

.today-tpdetails .tpdetails-text{
    margin-top: 15px;
}

.today-tpdetails .tpdetails-text > p{
    margin-top: 6px;
}

.today-tpdetails .datasets{
    border-top: 1px solid #e4e4e4;
    margin-top: 20px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.today-tpdetails .datasets > a{
    display: flex;
}

.today-tpdetails .datasets > a > p{
    text-transform: uppercase;
    background: #00bdec;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    font-weight: 600;
    margin-top: 8px;
    align-self: baseline;
}

.today-tpdetails .tpdetails-close-action{
    display: none;
}

.today-tpdetails .tpdetails-close-action{
    position: fixed;
    padding: 20px 20px 20px 30px;
    margin: 20px 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    transform: translateZ(0);
}

.today-tpdetails .tpdetails-close-action .icon{
    width: 15px;
    height: 13px;
    background-image: url('../resources/symbol_close.png');
    background-size: cover;
}

.today-copyrights {
    padding: 30px 90px;
    font-size: 0.7em;
    width: 85%;
    color: #868686;
}

@media all and (max-width: 980px) {
    .today-share.social-likes {
        bottom: 0;
        top: initial;
        transform: none;
        flex-direction: row;
    }

    .today-hero{
        padding: 27vh 30px 30px;
        margin: 0 auto;
        overflow: hidden;
        transition: all 200ms ease;
    }

    .today-hero.highlighted{
        max-height: 35vh;
        opacity: 0;
    }

    .today-hero .hero2{
        width: auto;
    }

    .today-hero .today-herotpdetails{
        font-size: 0.97em;
    }

    .today-analysis-data .analysis-list{
        margin-left: 0;
        margin-right: 0;
        column-count: 1;
    }

    .today-analysis-data .analysis-list .analysis-item{
        margin: 20px 0 0;
        max-width: 100%;
        min-width: 100%;
        height: 120vw;
        transition: all 200ms ease;
    }

    .today-analysis-data .analysis-list .analysis-item:before{
        padding-top: 100%;
    }

    .today-analysis-data .analysis-list.selected .analysis-item{
        display: block;
        opacity: 0.3;
    }

    .today-analysis-data .analysis-list.selected .analysis-item.selected{
        height: auto;
        min-height: 110vw;
        display: block;
        opacity: 1;
        margin-bottom: 0;
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
    }

    .today-analysis-data .analysis-list .theme-header {
        font-size: 1.5em;
    }

    .today-analysis-data .analysis-list.selected .analysis-item.selected  .item-close-action{
        margin: 0 auto;
        width: 17px;
        height: 15px;
        padding: 20px;
        margin-top: -10px;
    }

    .today-analysis-data .analysis-list.selected .analysis-item.selected  .item-close-action .icon{
        width: 17px;
        height: 15px;
        background-image: url('../resources/symbol_close.png');
        background-size: cover;
    }

    .today-copyrights {
        padding: 0px 30px 90px 30px;
    }
}