.today-share.social-likes {
    z-index: 9999901;
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
    padding: 4px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.today-hero{
    padding: 110px 45px 40px 45px;
    display: flex;
    align-items: center;
}

.today-hero .hero1{
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
}

.today-hero .today-herotpdetails{
    font-size: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #696969;
}

/* data */

.today-head-data{
    width: 100%;
    padding-top: 120px;
}

.today-head-data .head-today-hero {
    margin: 0 45px;
    text-transform: uppercase;
    font-weight: 700;
}

.today-head-data .head-date-hero {
    margin: 0 45px;
    font-size: 1em;
    text-transform: uppercase;
}

.today-head-data .head-item-container{
    display: grid;
    grid-gap: 0.39vw;
    margin: 25px 0 0;
    grid-auto-rows: 24.7vw;
    grid-template-columns: 24.7vw 24.7vw 24.7vw 24.7vw;
}

.today-head-data .head-article-item{
    position: relative;
    flex-shrink: 0;
    height: 24.7vw;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

.today-head-data .head-article-item > .article-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.today-head-data .head-article-item.noimage > .article-image{
    background: #696969 !important;
}

.today-head-data .head-article-item.noimage:nth-child(2n) > .article-image{
    background: #868686 !important;
}

.today-head-data .head-article-item > .article-image.blurred{
    filter: brightness(0.2) blur(3px);
    width: 105%;
    height: 105%;
    top: -2.5%;
    left: -2.5%;
    transform: translateZ(0);
}

.today-head-data .head-article-item:nth-child(2n) > .article-image.blurred{
    filter: brightness(0.2) blur(4px);
    width: 105%;
    height: 105%;
    top: -2.5%;
    left: -2.5%;
    transform: translateZ(0);
}

.today-head-data .head-article-tags {
    position: absolute;
    top: 20px;
    padding: 0 0 0 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.88em;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.today-head-data .head-article-tags span {
    color: rgba(255, 255, 255, 0.64);
}

.today-head-data .head-article-tags span:after {
    content: '|';
    margin: 0 5px;
    font-weight: 500;
}

.today-head-data .head-article-tags span:nth-last-child(1):after {
    content: '';
    margin: 0;
}

.today-head-data .head-article-item > a > .title {
    display: flex;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    width: 60%;
    margin: 0 45px;
}

.today-head-data .head-article-item .article-info {
    display: flex;
    text-transform: uppercase;
    margin: 10px 45px 0;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-size: 0.79em;
    flex-direction: column;
}

.today-head-data .head-article-item .article-action-revealmore {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-transform: uppercase;
    position: absolute;
    bottom: 35px;
    left: 45px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 0.8em;
}

.today-head-data .head-item-container.five .third .article-action-revealmore, .today-head-data .head-item-container.five .fourth .article-action-revealmore, .today-head-data .head-item-container.five .fifth .article-action-revealmore, .today-head-data .head-item-container.six .third .article-action-revealmore,  .today-head-data .head-item-container.six .fifth .article-action-revealmore, .today-head-data .head-item-container.six .sixth .article-action-revealmore{
    left: 55px;
}

.today-head-data .head-article-item.moreitems-opened .article-action-revealmore{
    display: none;
}

.today-head-data .article-moreitems{
    position: absolute;
    left: 0;
    width: calc(100% - 120px);
    background: rgba(0, 0, 0, 0.95);
    height: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    display: flex;
    transition: all 200ms ease;
    justify-content: space-between;
}

.today-head-data .article-moreitems::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	background-color: #808080;
}

.today-head-data .article-moreitems::-webkit-scrollbar {
	height: 5px;
	background-color: #808080;
}

.today-head-data .article-moreitems::-webkit-scrollbar-thumb {
	background-color: #F5F5F5;
}

.today-head-data .article-moreitems.opened{
    height: 100%;
    padding: 0 60px;
    align-items: center;
    visibility: visible;
    overflow: auto;
}

.today-head-data .article-moreitems .all-article-item{
    position: relative;
    display: flex;
    flex-shrink: 0;
    padding: 20px 0;
    width: 230px;
    display: flex;
    flex-direction: column;
}

.today-head-data .article-moreitems .all-article-item:nth-last-child(1){
    padding-right: 60px;
}

.today-head-data .article-moreitems .all-article-item .title {
    display: flex;
    color: #fff;
    font-size: 1.1em;
    font-weight: 700;
    width: 85%;
    margin: 0 auto;
}

.today-head-data .article-moreitems .all-article-item .article-info {
    display: flex;
    width: 85%;
    margin: 10px auto;
    text-transform: uppercase;
    color: #909090;
    font-weight: 500;
    font-size: 0.8em;
}

.today-head-data .head-article-item.moreitems-opened .article-action-closereveal{
    position: absolute;
    top: 40px;
    right: 40px;
}

.today-head-data .head-article-item.moreitems-opened .article-action-closereveal .icon{
    width: 15px;
    height: 13px;
    background-image: url('../resources/symbol_close_white.png');
    background-size: cover;
}

/* photosafetynet */

.today-guide-photosafetynet{
    display: none;
}

.today-guide-photosafetynet.opened{
    position: fixed;
    padding: 20px 80px;
    height: calc(100% - 105px);
    opacity: 1;
    z-index: 9999902;
    top: 66px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    overflow: hidden;
    transition: all 300ms ease;
}

.today-guide-photosafetynet.opened .guide-text{
    color: #000000;
    font-size: 1.1em;
    word-wrap: break-word;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.today-guide-photosafetynet.opened .guide-text > p{
    margin-top: 7px;
}

.today-guide-photosafetynet.opened .guide-photosafetynet-actions {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px auto;
    align-items: center;
}

.today-guide-photosafetynet.opened .guide-photosafetynet-actions > p{
    margin-top: 7px;
    padding: 2px 3px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    cursor: pointer;
}

/* revealinfo */
.today-action-revealinfo{
    position: absolute;
    right: 25px;
    top: 25px;
    display: flex;
    height: 65px;
    align-items: center;
    z-index: 9999901;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0 10px;
    color: rgb(148, 148, 148);
    cursor: pointer;
}


/* tp details */
.today-tpdetails{
    position: fixed;
    width: calc(100% - 160px);
    padding: 0 80px;
    height: 0;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0;
    background: #fff;
    overflow: hidden;
    transition: all 300ms ease;
}

.today-tpdetails.opened{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: calc(100% - 160px);
    padding: 100px 80px;
    height: calc(100% - 200px);
    opacity: 1;
    z-index: 9999902;
}

.today-tpdetails .tpdetails-reveal > p{
    font-size: 1.2em;
    font-weight: 700;
}

.today-tpdetails .tpdetails-text{
    margin-top: 15px;
}

.today-tpdetails .tpdetails-text > p{
    margin-top: 6px;
}

.today-tpdetails .photosafetynet-reveal{
    margin-top: 35px;
}

.today-tpdetails .photosafetynet-reveal > p{
    font-size: 1.2em;
    font-weight: 700;
}

.today-tpdetails .photosafetynet-text{
    margin-top: 15px;
}

.today-tpdetails .photosafetynet-text > p{
    margin-top: 7px;
}

.today-tpdetails .photosafetynet-actions {
    display: flex;
    margin-top: 20px;
}

.today-tpdetails .photosafetynet-actions > p{
    margin-right: 11px;
    padding: 2px 3px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    cursor: pointer;
}

.today-tpdetails .tpdetails-close-action{
    display: none;
}

.today-tpdetails .tpdetails-close-action{
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 20px;
    margin: 25px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transform: translateZ(0);
}

.today-tpdetails .tpdetails-close-action .icon{
    width: 15px;
    height: 13px;
    background-image: url('../resources/symbol_close.png');
    background-size: cover;
}

.today-copyrights {
    padding: 45px;
    font-size: 0.7em;
    color: #868686;
}

@media all and (max-width: 980px) {
    .today-share.social-likes {
        z-index: 1;
        left: initial;
        padding: 0 25px 0 20px;
        margin-bottom: 20px;
        top: initial;
        flex-direction: row;
        transform: none;
        position: relative;
    }

    .minion-featured-sections .sections-list li {
        display: none;
    }

    .minion-featured-sections .sections-list li.current {
        display: block;
        font-size: 0.95em;
    }

    .minion-navmenu.opened {
        height: calc(100% - 70px);
    }

    .minion-navmenu .sections-wrapper {
        flex-direction: column;
    }

    .today-head-data .head-item-container {
        display: block !important;
    }

    .today-head-data .head-article-item{
        height: 56vh !important;
    }

    .today-head-data .head-article-item  > a > .title {
        width: 80%;
        margin: 0 35px;
        font-size: 1.4em;
    }

    .today-head-data .head-article-item.first  > a > .title, .today-head-data .head-article-item.fourth  > a > .title{
        font-size: 1.4em;
    }

    .today-head-data .head-article-item .article-info {
        display: block;
        margin: 13px 35px 0;
    }

    .today-head-data .head-article-item .article-action-revealmore {
        left: 35px;
    }

    .today-analysis-data{
        margin: 0 30px;
    }

    .today-analysis-data .analysis-list{
        margin-left: 0;
        margin-right: 0;
        grid-template-columns: auto;
    }

    .today-analysis-data .analysis-list .analysis-item{
        margin: 0;
        max-width: 100%;
        min-width: 100%;
        overflow-y: hidden;
        height: 120vw;
        transition: all 200ms ease;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .today-analysis-data .analysis-list .analysis-item:before{
        padding-top: 100%;
    }

    .today-analysis-data .analysis-list.selected .analysis-item{
        display: block;
        opacity: 0.3;
    }

    .today-analysis-data .analysis-list.selected .analysis-item.selected{
        height: auto;
        min-height: 110vw;
        display: block;
        opacity: 1;
        margin-bottom: 0;
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
    }

    .today-analysis-data .analysis-list.selected .analysis-item.selected  .item-close-action{
        margin: 0 auto;
        width: 17px;
        height: 15px;
        padding: 20px;
        margin-top: -10px;
    }

    .today-analysis-data .analysis-list.selected .analysis-item.selected  .item-close-action .icon{
        width: 17px;
        height: 15px;
        background-image: url('../resources/symbol_close.png');
        background-size: cover;
    }

    .today-copyrights {
        padding: 35px;
    }

    .today-tpdetails.opened {
        width: calc(100% - 70px);
        padding: 100px 35px;
    }

    .today-guide-photosafetynet.opened {
        padding: 20px 35px;
    }

    .today-guide-photosafetynet.opened .guide-text {
        font-size: 0.95em;
        width: auto;
    }

    .today-guide-photosafetynet.opened .guide-photosafetynet-actions {
        text-align: center;
    }
}