body.editorial .minion-editorial-header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999901;
}

.minion-stuartbox{
    display: block;
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;
    font-weight: 700;
}

.minion-stuartbox.opened {
    width: auto;
    height: auto;
    overflow: auto;
    opacity: 1;
    z-index: 9999902;
    padding: 0 30px 30px 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.minion-stuart-head {
    margin-right: 30px;
    height: 62px;
    display: flex;
    z-index: 9999902;
}

.minion-stuart-head:before {
    content: '';
    display: flex;
    width: 2px;
    margin: 10px 18px 10px 0;
    background: #dedede;
    align-content: center;
}

.stuart-sections-reveal{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 62px;
}

.stuart-sections-reveal > p{
    font-weight: 700;
    margin-right: 7px;
    letter-spacing: -0.2px;
}

.stuart-sections-reveal > div{
    width: 15px;
    height: 9px;
    background-image: url('../../resources/symbol_arrow_down.png');
    background-size: cover;
}

.minion-stuartbox.opened .stuart-sections-reveal > div{
    width: 15px;
    height: 9px;
    background-image: url('../../resources/symbol_arrow_up.png');
    background-size: cover;
}

.minion-stuartbox .section-guide{
    font-size: 0.8em;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.minion-stuartbox ul.stuart-sections-list{
    font-weight: 400;
    margin-bottom: 25px;
}

.minion-stuartbox ul.stuart-sections-list li{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    word-break: break-all;
    word-wrap: break-word;
}

.minion-stuartbox ul.stuart-sections-list li.current{
    color: #1976D2;
    font-weight: 700;
}

.stuart-session-user {
    font-weight: 600;
    margin-right: 0;
    text-align: right;
    margin-top: 35px;
    color: #4c4c4c;
    font-size: 0.9em;
}

.minion-stuartbox .stuart-usersession-action{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: #505050;
    font-size: 0.85em;
    font-weight: 400;
}

.minion-stuartbox .stuart-usersession-action li{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    word-break: break-all;
    word-wrap: break-word;
}

/* auth */

.editorial-auth{
    width: auto;
    display: flex;
    padding: 120px 60px 60px 60px;
    align-items: center;
}

.editorial-auth .hero1{
    font-size: 1.8em;
    font-weight: 700;
}

.editorial-auth .hero2{
    font-size: 1.1em;
    margin-top: 7px;
}

.editorial-auth input{
    font-size: 1em;
    word-wrap: break-word;
    margin: 20px auto;
    padding: 9px 0;
    margin-right: 10px;
    width: 500px;
    border: none;
    border-bottom: 2px solid;
}

.editorial-auth input:focus {
    border-color: #00a1ff;
    outline: 0;
}

.editorial-authfields {
    display: flex;
    width: 50%;
}

.editorial-auth .editorial-auth-action-proceed{
    padding: 20px 20px 20px 30px;
    display: flex;
    top: 0;
    align-items: center;
    background: #fff;
}

.editorial-auth .editorial-auth-action-proceed .icon{
    width: 17px;
    height: 13px;
    background-image: url('../../resources/symbol_check.png');
    background-size: cover;
}