.editorial-dataextract{
    width: auto;
    display: flex;
    padding: 80px 100px 60px 100px;
    align-items: center;
}

.editorial-dataextract .hero1{
    font-size: 1.8em;
    font-weight: 700;
}

.editorial-dataextract .hero2{
    font-size: 1.1em;
    margin-top: 7px;
}

.editorial-dataextract input{
    font-size: 1em;
    word-wrap: break-word;
    margin: 20px auto;
    padding: 9px 0;
    width: 500px;
    border: none;
    border-bottom: 2px solid;
}

.editorial-dataextract input:focus {
    border-color: #00a1ff;
    outline: 0;
}

/* add popup */

.editorial-editor-viewer{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background: #fff;
    overflow: hidden;
    z-index: 9999904;
    transform: translate3d(0,200%,0);
    transition: all 300ms ease;
}

.editorial-editor-viewer.opened{
    transform: translate3d(0,0,0);
}

.console-herotext{
    margin-bottom: 30px;
}

.console-herotext .hero1{
    font-size: 2.3em;
    font-weight: 700;
}

.console-herotext .hero2{
    font-size: 1.2em;
    margin-top: 7px;
    width: 60%;
}

.editorial-editor-viewer textarea:focus {
    border-bottom: 2px solid #00a1ff;
    outline: 0;
}

.editorial-editor-viewer textarea {
    margin-top: 5px;
    font-size: 1.1em;
    padding: 10px 0;
    border: none;
    width: 100%;
    border-bottom: 2px solid #d2d2d2;
}

.editorial-editor-viewer.opened .viewer-wrapper {
    padding: 80px;
    height: calc(100% - 160px);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.editorial-editor-datatype{
    display: flex;
    margin-top: 10px;
}

.editorial-editor-datatype .datatype-action-list{
    display: flex;
    margin-left: 10px;
}

.editorial-editor-datatype .datatype-action-list > div > p {
    padding: 0px 8px;
    color: #b9b9b9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
}

.editorial-editor-datatype .datatype-action-list > div {
    margin-right: 6px;
}

.editorial-editor-datatype .datatype-action-list > div.selected > p {
    color: #00a9ff;
}

.editorial-editor-viewer.opened .viewer-action-cancel{
    position: fixed;
    padding: 20px 20px 20px 30px;
    margin: 20px 0;
    display: flex;
    top: 0;
    align-items: center;
    background: #fff;
    transform: translateZ(0);
}

.editorial-editor-viewer .viewer-action-cancel .icon{
    width: 15px;
    height: 13px;
    background-image: url('../../resources/symbol_close.png');
    background-size: cover;
}