.editorial-tracker{
    width: auto;
    display: flex;
    padding: 80px 100px 60px 100px;
    align-items: center;
}

.editorial-tracker .hero1{
    font-size: 1.8em;
    font-weight: 700;
}

.editorial-tracker .hero2{
    font-size: 1.1em;
    margin-top: 7px;
    width: 60%;
}

.editorial-track-actions{
    position: fixed;
    top: 75px;
    left: 35px;
    display: flex;
    flex-direction: column;
    z-index: 9999901;
    justify-content: flex-start;
    transition: all 150ms ease;
}

.editorial-track-action-add {
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editorial-track-action-add .icon{
    width: 14px;
    height: 14px;
    background-image: url('../../resources/symbol_add.png');
    background-size: cover;
}

.editorial-track-action-refresh {
    padding: 15px 5px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editorial-track-action-refresh .icon{
    width: 14px;
    height: 14px;
    background-image: url('../../resources/symbol_refresh.png');
    background-size: cover;
}

/* add popup */

.editorial-track-console-add{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background: #fff;
    overflow: hidden;
    z-index: 9999904;
    transform: translate3d(0,200%,0);
    transition: all 300ms ease;
}

.editorial-track-console-add.opened{
    transform: translate3d(0,0,0);
}

.track-console-header{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 35px;
    left: 35px;
    z-index: 9999901;
    justify-content: flex-start;
    transition: all 150ms ease;
}

.console-herotext{
    margin-bottom: 30px;
}

.console-herotext .hero1{
    font-size: 1.8em;
    font-weight: 700;
}

.console-herotext .hero2{
    font-size: 1.1em;
    margin-top: 5px;
    width: 60%;
}

.console-add-fields {
    display: flex;
    flex-direction: column;
}

.editorial-track-console-add input{
    font-size: 1.1em;
    word-wrap: break-word;
    margin-bottom: 10px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #d2d2d2;
}

.editorial-track-console-add input:focus, .editorial-track-console-add textarea:focus {
    border-bottom: 2px solid #00a1ff;
    outline: 0;
}

.editorial-track-console-add textarea {
    margin-top: 5px;
    font-size: 1.1em;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #d2d2d2;
}

.editorial-track-console-add .console-add-wrapper {
    padding: 45px 100px 0 100px;
    height: calc(100% - 60px);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.console-add-editor-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.console-add-editor-wrapper p {
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 600;
}

.console-add-datatype {
    display: flex;
    margin-left: 10px;
}

.console-add-datatype > div > p {
    padding: 0px 8px;
    color: #b9b9b9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
}

.console-add-datatype > div {
    margin-right: 6px;
}

.console-add-datatype > div.selected > p {
    color: #00a9ff;
}

.console-add-reviewstatus {
    display: flex;
    margin-top: 30px;
}

.console-add-reviewstatus > div > p {
    padding: 6px 9px;
    background: #ffffff;
    color: #2f2f2f;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 9px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.console-add-reviewstatus > div.selected p{
    color: #fff;
}

.console-add-reviewstatus > div {
    margin-right: 10px;
    margin-bottom: 10px;
}

.console-add-reviewstatus .reviewstatus-action-pending.selected p {
    background: #808080;
}

.console-add-reviewstatus .reviewstatus-action-revised.selected p {
    background: #9c0f9e;
}

.console-add-reviewstatus .reviewstatus-action-preapproval.selected p {
    background: #0094da;
}

.console-add-reviewstatus .reviewstatus-action-finalapproval.selected p {
    background: #62ad00;
}

.editorial-track-console-add.opened .console-add-action-cancel{
    padding: 15px 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    border-radius: 30px;
    transform: translateZ(0);
}

.editorial-track-console-add .console-add-action-cancel .icon{
    width: 15px;
    height: 13px;
    background-image: url('../../resources/symbol_close.png');
    background-size: cover;
}

.editorial-track-console-add.opened .console-add-action-send{
    padding: 15px 5px;
    display: flex;
    align-items: center;
    transform: translateZ(0);
}

.editorial-track-console-add .console-add-action-send .icon{
    width: 17px;
    height: 13px;
    background-image: url('../../resources/symbol_check.png');
    background-size: cover;
}

/* editor popup */

.editorial-track-console-edit{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background: #fff;
    overflow: hidden;
    z-index: 9999904;
    transform: translate3d(0,200%,0);
    transition: all 300ms ease;
}

.editorial-track-console-edit.opened{
    transform: translate3d(0,0,0);
}

.console-edit-fields {
    display: flex;
    flex-direction: column;
}

.editorial-track-console-edit input{
    font-size: 1.1em;
    word-wrap: break-word;
    margin-bottom: 10px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #d2d2d2;
}

.editorial-track-console-edit input:focus, .editorial-track-console-edit textarea:focus {
    border-bottom: 2px solid #00a1ff;
    outline: 0;
}

.editorial-track-console-edit textarea {
    margin-top: 10px;
    font-size: 1.1em;
    padding: 10px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #d2d2d2;
}

.editorial-track-console-edit.opened .console-edit-wrapper {
    padding: 45px 100px 0 100px;
    height: calc(100% - 60px);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.editorial-track-console-edit div.jsoneditor {
    border: none;
}

.editorial-track-console-edit div.jsoneditor-menu {
    background-color: #7b7b7b;
    border-bottom: 1px solid #565656;
}

.console-edit-reviewstatus {
    display: flex;
    margin-top: 15px;
}

.console-edit-reviewstatus > div {
    margin-right: 10px;
}

.console-edit-reviewstatus > div > p {
    padding: 6px 9px;
    background: #ffffff;
    color: #2f2f2f;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 9px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.console-edit-reviewstatus > div.selected p {
    color: #fff;
}

.console-edit-reviewstatus .reviewstatus-action-pending.selected p {
    background: #808080;
}

.console-edit-reviewstatus .reviewstatus-action-revised.selected p {
    background: #9c0f9e;
}

.console-edit-reviewstatus .reviewstatus-action-preapproval.selected p {
    background: #0094da;
}

.console-edit-reviewstatus .reviewstatus-action-finalapproval.selected p {
    background: #62ad00;
}

.editorial-track-console-edit.opened .console-edit-action-cancel{
    padding: 15px 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    transform: translateZ(0);
}

.editorial-track-console-edit .console-edit-action-cancel .icon{
    width: 15px;
    height: 13px;
    background-image: url('../../resources/symbol_close.png');
    background-size: cover;
}

.editorial-track-console-edit.opened .console-edit-action-send{
    padding: 15px 5px;
    display: flex;
    align-items: center;
    transform: translateZ(0);
}

.editorial-track-console-edit .console-edit-action-send .icon{
    width: 17px;
    height: 13px;
    background-image: url('../../resources/symbol_check.png');
    background-size: cover;
}

/* console */

.editorial-track-console {
    padding: 30px 100px;
}

/* column guide */

.track-console-list-column {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}

.track-console-list-column .item-columns {
    display: flex;
    font-size: 0.87em;
    color: #878787;
}

.column-title {
    width: 250px;
}

.column-section {
    padding: 0 12px;
    width: 200px;
}

.column-lasteditor {
    width: 130px;
}

.column-reviewstatus {
    flex-shrink: 0;
    display: flex;
    align-self: baseline;
    border-radius: 5px;
    margin-right: 12px;
}

.column-actions > p {
    padding: 2px 5px;
    color: #005baf;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
}

/* console list */

ul.track-items {
    display: flex;
    flex-direction: column;
}

.track-item-obj {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}

.track-item-obj .item-info {
    display: flex;
}

.track-item-obj .item-title {
    width: 250px;
}

.item-lasteditor {
    width: 130px;
}

.track-item-obj .item-section {
    padding: 2px 12px;
    color: #000000;
    font-weight: 700;
    font-size: 0.9em;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-item-obj .item-reviewstatus {
    padding: 2px 5px;
    background: #737373;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.85em;
    flex-shrink: 0;
    display: flex;
    align-self: baseline;
    border-radius: 5px;
    margin-right: 12px;
}

.track-item-obj .item-reviewstatus[banana-id="revised"] {
    background: #9c0f9e;
}

.track-item-obj .item-reviewstatus[banana-id="preapproval"] {
    background: #0094da;
}

.track-item-obj .item-reviewstatus[banana-id="finalapproval"] {
    background: #62ad00;
}

.item-actions {
    display: flex;
}

.track-item-obj .item-actions > p {
    padding: 2px 4px;
    color: #007cda;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    margin-right: 10px;
    cursor: pointer;
}


/* revision viewer popup */

.editorial-track-console-edithistory{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background: #fff;
    overflow: hidden;
    z-index: 9999904;
    transform: translate3d(0,200%,0);
    transition: all 300ms ease;
}

.editorial-track-console-edithistory.opened{
    transform: translate3d(0,0,0);
}

.editorial-track-console-edithistory textarea:focus {
    border-bottom: 2px solid #00a1ff;
    outline: 0;
}

.editorial-track-console-edithistory textarea {
    margin-top: 10px;
    font-size: 1.1em;
    padding: 10px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #d2d2d2;
}

.editorial-track-console-edithistory.opened .console-edithistory-wrapper {
    padding: 45px 100px 0 100px;
    height: calc(100% - 60px);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.editorial-track-console-edithistory .revision-obj {
    padding: 25px 0;
    border-bottom: 1px solid #a9a9a9;
}

.editorial-track-console-edithistory .revision-details {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #383838;
    margin-bottom: 14px;
}

.editorial-track-console-edithistory .revision-details .rev-user{
    text-transform: uppercase;
}

.editorial-track-console-edithistory div.jsoneditor {
    border: none;
}

.editorial-track-console-edithistory div.jsoneditor-menu {
    background-color: #7b7b7b;
    border-bottom: 1px solid #565656;
}

.editorial-track-console-edithistory.opened .console-edithistory-action-cancel{
    padding: 15px 5px;
    display: flex;
    align-items: center;
    transform: translateZ(0);
}

.editorial-track-console-edithistory .console-edithistory-action-cancel .icon{
    width: 15px;
    height: 13px;
    background-image: url('../../resources/symbol_close.png');
    background-size: cover;
}

@media all and (max-width: 980px) {

    .editorial-tracker{
        padding: 120px 30px 60px 30px;
    }

    .editorial-track-console {
        padding: 30px 30px 30px 30px;
    }

}