requests==2.18.4
beautifulsoup4==4.6.0
python_crontab==2.2.8
python_dateutil==2.7.2
jsonpickle==0.9.6
matplotlib==2.2.2
metadata_parser==0.9.18
newspaper3k==0.2.6
nltk==3.2.5
numpy==1.14.2
pandas==0.22.0
pymongo==3.6.1
pytz==2018.3
scipy==1.0.1
scikit_learn==0.19.1
python_twitter==3.4.1
whoosh==2.7.4
