#banana-moon-policycontainer{
    display: flex;
    padding-top: 65px;
}

#banana-moon-keywords{
    display: flex;
    flex-direction: column;
    color: #252525;
    font-size: 1.6em;
    padding-left: 10%;
    width: 50%;
}

#banana-moon-keywords .keywords-guide{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 40px;
}

.keywords-guide .help{
    font-size: 0.5em;
    margin-top: 15px;
}

#banana-moon-keywords .keywords-container{
    font-size: 0.56em;
}

.keywords-container .policygroup{
    margin-bottom: 15px;
}

.keywords-container .policyinfo{
    display: flex;
}

.keywords-container .policytitle{
    padding: 0 7px;
    margin-bottom: 10px;
    font-size: 1.2em;
    border-left: 3px solid #505050;
    color: #202020;
    margin-right: 5px;
}

.keywords-container .policykeywords-action-fold{
    padding: 0 8px;
}

.keywords-container .policygroup[banana-status="folded"] .fold{
    display: none;
}

.keywords-container .policygroup[banana-status="unfolded"] .unfold{
    display: none;
}

.keywords-container .policykeywords-action-fold p{
    font-family: FontAwesome;
    color: #505050;
    margin-top: 1px;
}

.keywords-container #keywords{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.keywords-container #keywords .keywords{
    display: none;
}

.keywords-container #keywords .policygroup[banana-status="unfolded"] .keywords{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.keywords-container #keywords .keyword{
    margin: 5px 8px;
    padding: 8px 0;
    flex-shrink: 0;
    position: relative;
    color: #202020;
    border-bottom: 2px solid #505050;
}

@media all and (max-width: 374px) and (max-height: 600px) {

    #banana-moon-keywords{
        font-size: 1.5em;
    }

    #banana-moon-keywords .keywords-container{
        font-size: 0.58em;
    }

} 


@media all and (max-width: 1099px) {

    #banana-moon-policycontainer .divider{
        margin: 0 10%;
        width: 50px;
        height: 2px;
        background: #000;
    }

    #banana-moon-policycontainer{
        display: flex;
        padding-top: 0;
        flex-direction: column;
    }

    #banana-moon-keywords{
        width: auto;
        padding: 0% 10%;
    }

    #banana-moon-keywords .keywords-guide{
        margin-top: 50px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #banana-moon-keywords .keywords-guide .help{
        flex-basis: 100%;
    }

    #banana-moon-keywords .keywords-container{
        margin-bottom: 50px;
    }

}